//CSS vars
:root {
  --font-base: 62.5%;
  --system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --black: 0, 0, 0;
  --gray: 120, 120, 120;
  --pink: 234, 82, 111;
  --coral: 255, 138, 91;
  --linen: 252, 234, 222;
  --white: 255, 255, 255;
  --turquoise: 37, 206, 209;
  --bold: 700;
  --medium: 600;
}

//breakpoint vars
$extra-small: 22.5em; //360px
$small: 36em; //576px
$medium: 48em; //768px
$large: 64em; //1024px
$extra-large: 75em; //1200px
$wide: 90em; //1440px
$extra-wide: 100em; //1600px

//breakpoints
$breakpoints: (
  //types
  "extra-small": $extra-small,
  "small": $small,
  "medium": $medium,
  "large": $large,
  "extra-large": $extra-large,
  "wide": $wide,
  "extra-wide": $extra-wide //finish types
);

// Caching current breakpoint
// Not meant to be manually edited
$default-breakpoint: root;
$current-breakpoint: $default-breakpoint;

//z-index
$z-index: (
  //values
  "pothole": -1,
  "basement": 0,
  "sidewalk": 1,
  "bungalow": 40,
  "bungalow-chimney": 50,
  "house": 60,
  "tower": 70,
  "skyscrapper": 80,
  "sky": 90,
  "satellite": 100 //finish z-index
);
