.footer {
  @include fluidProperty('font-size', 0.75);
  @include fixed(right 2rem bottom 2rem);
  font-weight: var(--medium);
  color: rgb(var(--white));

  &__link {
    color: rgb(var(--pink));
    text-decoration: none;
    font-weight: var(--bold);
  }
}
